<server>
  <featureManager>
    <feature>servlet-4.0</feature>
    <feature>jsp-2.3</feature>
  </featureManager>

  <httpEndpoint id="defaultHttpEndpoint" httpPort="9080" httpsPort="9443"/>

  <!-- Place WAR in apps/, then reference it -->
  <webApplication id="struts2-showcase" location="struts2-showcase-7.1.1.war" contextRoot="/showcase"/>
</server>
